<div class="container">
  <div class="card" style="width: 40vw;">
  <div class="card-header">
    <h4>Forgot your password?</h4>
  </div>
 <div class="card-body">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, class:"form-label leftmargin" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control leftmargin edituserwidth" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:"btn btn-secondary leftmargin" %>
  </div>
<% end %>
</div>
</div>
<br/>
<%= render "devise/shared/links" %>
</div>
