<div class="container">

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Active</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.brand_name %></td>
         <td><%= brand.category %></td>
        <td><%= brand.active %></td>
        <td><%= link_to 'Edit', edit_brand_path(brand), class:"btn btn-sm btn-outline-secondary" %></td>
        <% if brand.active? %>
        <td><%= link_to 'Delete', brand, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-outline-danger" %></td>
        <% else %>
        <td><%= link_to 'Un-Delete', brand, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-outline-secondary" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brand', new_brand_path, class:"btn btn-secondary" %>
</div>
