
<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label "Name *", class:"form-label leftmargin" %>
    <%= form.text_field :name, class:"form-control leftmargin edituserwidth" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class:"form-label leftmargin" %>
    <%= form.text_field :description, class:"form-control leftmargin edituserwidth" %>
  </div>
  <div class="mb-3">
    <%= form.label "Background Photo", class:"form-label leftmargin" %><br />
    <%= image_tag(category.image_thumbnail, class:"img-fluid img-thumbnail leftmargin") if category.bggroundimage.attached? %>
     <%= form.file_field :bggroundimage, class:"form-control leftmargin edituserwidth" %>
  </div>
<br/>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary leftmargin" %>
     <%= link_to 'Back', :back, class:"btn btn-secondary" %>
  </div>
<% end %>

