<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
    <%= form.label :category, class:"form-label leftmargin" %><br/>
      <%= form.select :category_id, options_for_select(Category.all.current.collect { |p| [ p.name, p.id ] }, :selected=>product.category_id), 
  {}, { class: "form-select leftmargin edituserwidth" } %>  
  </div>
  <div class="field">
    <%= form.label :name, class:"form-label leftmargin" %>
    <%= form.text_field :name, class:"form-control leftmargin edituserwidth" %>
  </div>

  <div class="field">
    <%= form.label :description, class:"form-label leftmargin" %>
    <%= form.text_area :description, rows:"5", class:"form-control leftmargin edituserwidth" %>
  </div>

  <div class="field">
    <%= form.label :brand, class:"form-label leftmargin" %>
    <%= form.text_field :brand, class:"form-control leftmargin edituserwidth" %>
  </div>

  <div class="field">
    <%= form.label :price, class:"form-label leftmargin" %>
    <%= form.number_field :price, step: :any, class:"form-control leftmargin edituserwidth" %>
  </div>

  <div class="field">
    <%= form.label :stock, class:"form-label leftmargin" %>
    <%= form.number_field :stock, class:"form-control leftmargin edituserwidth" %>
  </div>
<br/>
    <div class="field leftmargin">
    <%= form.label "Photos", class:"form-label" %><br />
     <%= form.file_field :images, multiple: true, class:"form-control edituserwidth" %>
  </div>

<br/>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary leftmargin" %>
    <%= link_to 'Back', :back, class:"btn btn-secondary" %>
  </div>
<% end %>
